
.alreadyRated .stars {width: 84px; height: 17px; position: relative;}
.alreadyRated .stars .stars-bg {height: 17px; position: absolute;top: 0; left: 0; background-image: url(/pagerater/images/stars_bg.png); z-index: 1}
.alreadyRated .stars img {position: absolute; top: 0; left: 0; z-index: 2}
